button {
    background-color: lightgray;
    color: black;
    margin: 50px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 5px;
    padding-top: 5px;
    border: 1px solid black;
}

div#right {
    background-color: lightgreen;
    color: green;
    font-size: 30;
    margin: 50px;
    border: 1px solid darkgreen;
}

div#wrong {
    background-color: lightcoral;
    color: red;
    font-size: 30;
    margin: 50px;
    border: 1px solid darkred; 
}

.hide {
    display: none;
}
